@import 'tailwindcss';
@import 'tw-animate-css';

@font-face {
  font-family: monofur;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/monof55.ttf');
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-stands-out: var(--stands-out);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: color-mix(in hsl, var(--card), transparent 50%);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-blurable: oklch(0.97 0 0 / 0.55);

  --prose: 40ch;
  --prose-xl: 65ch;

  --gap: 1rem;
  --breakout-size: minmax(0, 7rem);
  --content-size-xl: minmax(0, calc(var(--prose-xl) - var(--prose)));
  --content-size: min(var(--prose), calc(100% - var(--gap) * 2));
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: coral;
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@utility highlighter {
  background: linear-gradient(180deg, transparent 70%, hsl(var(--accent)) 60%);
}

@utility content-grid {
  display: grid;
  grid-template-columns:
    [full-bleed-start] 1fr [without-gap-start] var(--gap) [breakout-start] var(
      --breakout-size
    )
    [content-xl-start] var(--content-size-xl)
    [content-start] var(--content-size)
    [content-end] var(--content-size-xl) [content-xl-end] var(--breakout-size)
    [breakout-end] var(--gap) [without-gap-end] 1fr [full-bleed-end];

  & > * {
    grid-column: content;
  }
}

@utility full-bleed {
  grid-column: full-bleed;
}
@utility without-gap {
  grid-column: without-gap;
}
@utility breakout {
  grid-column: breakout;
}
@utility content-xl {
  grid-column: content-xl;
}

/* timelinecard */
@utility transition-foo {
  transition: all 0.12s ease-in;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);

  --card: coral;
  --card-foreground: oklch(0.141 0.005 285.823);

  --stands-out: oklch(0.95 0.19 104.55);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.24 0.03 283.78 / 0.31);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);

  --fs--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
  --fs--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  --fs-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --fs-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
  --fs-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
  --fs-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  --fs-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  --fs-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);

  /* --font-mono: monofur, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --text-base: 1.1rem;
  --text-sm: 1rem; */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
